/* Color Pallete
    Dark grey: #303841
    Light Grey: #3a4750
    Red: #d72323
    White: #eeeeee 
*/
/* Fonts
    font-family: 'Oswald', sans-serif;
    font-family: 'Patrick Hand', cursive;
*/

html{
    scroll-behavior: smooth;
    
}

body{
    height: 100%;
    
}

section{
    background-color: #303841;
}




#landingContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.appHeader{
    background-color: rgba(255, 255, 255, .9);
    overflow: hidden;
    padding: 25px;
    border-radius: 15px;
    z-index: 1;
}

.col{
    left: -50%;
}



.gif{
    max-width:250px;
    position: relative;
    border-radius: 10px;
    box-shadow: inset 0px 0px 40px 40px #DBA632;
}

   .gif1 {
       
       top: -15px;
       right: -60%;
       z-index: 0;
   }

   .gif2 {
       
       top: -15px;
       right: -20%;
       z-index: 0;
   }

   .gif3 {
       
       top: 0;
       right: -60%;
       z-index: 0;
   }

   .gif4 {
       top: 0;
       right: -20%;
       z-index: 0;
   }



@media only screen and (min-width: 768px){
    .gif {
        display: inherit;
        max-width: 350px;
    }
    .gif1 {
        
        top: 50px;
        right: -100%;
        z-index: 0;
    }

    .gif2 {
        
        right: 0;
        z-index: 0;
    }

    .gif3 {
        
        top: 15px;
        right: -100%;
        z-index: 0;
    }

    .gif4 {
        top: -50px;
        right: 0;
        z-index: 0;
    }

}

@media only screen and (min-width: 1200px) {
    .gif {
        display: inherit;
        max-width: 400px;
    }

    .gif1 {
        top: 200px;
        left: 450px;
        z-index: 0;
    }

    .gif2 {
        
        right: 0;
        z-index: 0;
    }

    .gif3 {
        
        top: -30px;
        left: 450px;
        z-index: 0;
    }

    .gif4 {
        
        top: -200px;
        right: 0;
        z-index: 0;
    }

}


#landingButton{
    border-radius: 15ox;
    background-color:#303841;
    color: #eeeeee;
}

#landingButton:hover{
    background-color: #d72323;
}


/* ----------------Gif Loading Section---------------- */
#gifsSection{
    height: 100%;
    background-color: #3a4750;
}

h2{
    color: #eeeeee !important;
    padding: 25px;
    font-size: 3rem !important;
    margin-bottom: 10% !important;

}

.form-group{
    align-items: center;
    text-align: center;
    color: #eeeeee;
}

.form-group label{
    font-size: 2rem;
}





#buttonHolder{
    display: inline-block;
    padding: 1%;
    align-items: center;
    text-align: center;
    color: #eeeeee;
}

#buttonHolder p{
    font-size: 2rem;
}



#giphyButton {
    border-radius: 15ox;
    background-color: #eeeeee;
    color: #303841;
    border: none;
}

#giphyButton:hover {
    background-color: #d72323;
    color: #eeeeee;
}

#show{
        border-radius: 15ox;
        background-color: #eeeeee;
        color: #303841;
        border: none;
}

.btn{
    margin: 10px;
}

#gifHolder{
    padding-top: 5%;
    background-color: inherit;
    color: #eeeeee !important;
    margin: 10px;
    text-align: center;
    height: 100%;
}

#gifHolder p{
    font-size: 2rem;
    text-align: center;
}

.gifs{
    display: inline-block;
    justify-content: center;
    margin: 0px;
}

.giphy{
    max-width: 75%;
}



.footer{
    color: #eeeeee;
    text-align: center;
    bottom:0;
    width:100%;
    height:100px;
    margin-top: 100px;

}


@media only screen and (min-width: 760px) {
    .form-group input{
        text-align: center;
        width: 25%;
        transform: translateX(150%);
    }

}

@media only screen and (min-width: 1023px) {
    .form-group{
        align-items: center;
        text-align: center;
    }
    .form-group input{
        text-align: center;
        width: 25%;
        transform: translateX(150%);
    }
}

@media only screen and (min-width: 1280px) {

}